*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: radial-gradient(#eeee 30%, #f50 100%);
  display: grid;
  place-items: center;
}
.wrapper {
  max-width: 40%;
  width: 350px;
  padding: 15px;
  border-radius: 12px;
  background-color: #fff;
}
h3 {
  text-align: center;
  margin: 15px 0 25px;
  font-size: 30px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 8px;
}
input:focus {
  border: 1px solid #111;
}
.tools {
  display: flex;
  gap: 10px;
  color: red;
  margin: 6px 0 0;
  display: none;
}
.tools.show {
  display: flex;
}
.pass,
.confirm {
  position: relative;
}
.pass i,
.confirm i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #777;
  cursor: pointer;
}
.signup {
  display: block;
  padding: 10px;
  margin: 15px auto 0;
  border-radius: 8px;
  background-color: blueviolet;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}
.signup:hover {
  opacity: 1;
}
